
button.mockGithubCommit
{
    color: white;
    background-color: #339933;
    background-image: none;

    padding: 6px 8px 6px 8px;

    border: 0px solid white;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    cursor: not-allowed;

    font-family: sans-serif;

    transition: 0.5s ease all;
}

button.mockGithubCommit:hover, 
    button.mockGithubCommit:focus
{
    background: #337722;
    background-image: none;
    background-color: #337722;

    transform: scale(1, 1);
}

div.fakeCommentDiv
{
    border: 1px solid black;
    box-sizing: border-box;

    border-bottom-width: 4px;
}

div.fakeCommentDiv > .header
{
    border-bottom: 1px solid black;
}

div.fakeCommentDiv > .content1, div.fakeCommentDiv > .content2
{
    height: 250px;
    overflow-y: auto;
    box-shadow: inset -3px 3px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

div.fakeCommentDiv .content2 > code
{
    display: block;
    box-sizing: border-box;
}